<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ion-weather</h2>
    <p>
      This is will be using the Dark Skies API to experiment with some cool weather stuff.
    </p>
    <p>
      
    </p>
    
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>
